.heading {
	padding:20px;
}
.text {
	color:white;
	font-family:Verdana, sans-serif;
	margin-top:5px;
	text-align:center;
}
.container {
	display:grid;
	height:100vh;
	grid-template-areas: 
		"header header header"
		"main main main"
		"divider divider divider"
		"content1 content2 content3"
		"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1.5fr 0.05fr 1.2fr 0.7fr;
	grid-gap: 0.2rem;
}
.picturegeneral {
	display: block;
	border: 4px solid #610C63;
	box-shadow: 5px 5px 3px 2px #610C63;
	background-color:#610C63;
	align-items: center;
}
.bannertext {
	font-family:Verdana, sans-serif;
	text-align:center;
	color:#610C63;
	
}

	
}

#content1 {
	background:#E14D2A;
	grid-area: content1;
}
#content2 {
	background-color:#E14D2A;
	grid-area: content2;
}
#content3 {
	background-color:#E14D2A;
	grid-area: content3;
}
#divider {
	background-color:#9C2C77;
	grid-area: divider;
}
#centerpic {
	max-width: 26%;
	margin-left: 2%;
	float: left;
	height: auto;
	margin-bottom:16px;
}
#yumepic {
	max-width: 22%;
	margin-left: 12%;
	float: left;
	height: auto;
	margin-bottom:10px;
}
#buffypic {
	max-width: 24%;
	margin-left: 2%;
	margin-right: 5%;
	float: left;
	height: auto;
	margin-bottom:12px;
	
}
#maintext {
	margin-top:24%;
	margin-left:10%;
	margin-right:10%;
}
#gif {
	max-width:80%;
	margin-left:50%;
	height: auto;
}



header {
	background-color:#9C2C77;
	grid-area:header;
}
body {
	background-color:#0b2443; 
	margin:0; 
}
main {
	background: #CD104D;
	grid-area: main;

}
footer {
	background: #FD841F;
	grid-area: footer;
}	

@media screen and (max-width: 480px) {
	.container {
		display:grid;
		height:100vh;
		max-width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 2.0fr 0.05fr 1.5fr 1.5fr 1.5fr 0.8fr;
		grid-template-areas:
			"header"
			"main"
			"divider"
			"content1"
			"content2"
			"content3"
			"footer";
	}
	
	#maintext {
	margin-top:22%;
	margin-left:10%;
	margin-right:10%;
	max-width: 100%;
	height:auto;
	}
	
	#centerpic {
	max-width: 26%;
	margin-left: 2%;
	float: left;
	height: auto;
	margin-bottom:2px;
}
	#yumepic {
	max-width: 20%;
	margin-left: 7%;
	float: left;
	height: auto;
	margin-bottom:2px;
	}
	#buffypic {
	max-width: 24%;
	margin-left: 2%;
	margin-right: 5%;
	float: left;
	height: auto;
	margin-bottom:2px;
	
}

	#gif {
	max-width:80%;
	margin-left:5%;
	height: auto;
	}
}

@media screen and (min-width: 481px) and (max-width:1024px) {
	.container {
		display:grid;
		height:100vh;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.2fr 2fr 0.05fr 1.5fr 1.5fr 0.8fr;
		grid-template-areas:
			"header header"
			"main main"
			"divider divider"
			"content2 content3"
			"content1 content1"
			"footer footer";
	}
	
	#maintext {
	margin-top:22%;
	margin-left:10%;
	margin-right:10%;
	}
	
	#gif {
	max-width:80%;
	margin-left:60%;
	height: auto;
	}
}

@media screen and (min-width: 1025px){
	.container {
		display:grid;
		height:100vh;
		grid-template-areas: 
			"header header header"
			"main main main"
			"divider divider divider"
			"content2 content1 content3"
			"footer footer footer";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0.2fr 1.5fr 0.05fr 1.2fr 0.7fr;
		grid-gap: 0.2rem;
	}
	
	#gif {
	max-width:80%;
	margin-left:8%;
	height: auto;
}
	

}